
body{
	font-family: 'Hind Madurai', sans-serif;
}
.lander{
	margin-top: 5vh;
	font-size: 1.8em;
}
.menu a{
	color: black;
	border-bottom: solid 2px rgba(0,0,0,.3);
	transition: all ease 0.4s;
	font-size: 1.2em;
	padding: 5% 4% .5% 4%;
	margin-top: 5%;
}
.menu a:hover{
	border-bottom: solid 2px black;
}
body{
	padding-top: 2%;
}
.separate{
	margin-top: 3%;
}
.feature{
	width: 100%;
	height: auto;
	padding:2% 2% 2% 2%;
}
.aboutme p{
	font-size: 1em;
	padding: 2% 2% 2% 2%;
}
.aboutme h4{
padding-top: 4%;
}
.work h3{
	text-align: center;
}
.work small{
	text-align: center;
	font-size: 1em;
}
.lander div{
	font-weight: 100;
	text-align: center;
}
.dp img{
	margin-top: 10%;
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
@media screen and (max-width: 900px)
{
	.feature{
		display: none;
	}
	.lander div{
		font-size: 1.3em;
		text-align: left;
	}
	.lander span{
		text-align: left;
	}
	 span.more{
		display: none;
	}
	.dp img{
		display: none;
	}
	.lander div{
		text-align: left;
		font-weight: 400;
	}
	.container{
		width: 80%;
	}
	.about{

	}
	.baseimg{
		font-size: 1em;
		padding: 0%;
	}
}
.about a{
	color: black;
	border-bottom: solid .5px rgba(0,0,0,.8)
}

.cards{

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top: 10px;
}
.cards p{
	padding-left: 5%;
	padding-right: 5%;
}

.cards:hover {
	transform: translateY(-5px);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.baseimg{
	width: 100%;
	height: 30vw;
	background-color: #003366;
	color: white;
	font-size: 3em;
	text-align: center;
	padding-top: 60%;
}
.one{
	background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url("../assets/yearbook/yb1.jpg")  70% 50%;
}
.two{
	background: url("../assets/yearbook/2.jpg")10% 50%;
}
.three{
	background: url("../assets/farewell/back.jpg") fixed center center;
}
.four{
	background: url("../assets/farewell/back.jpg") fixed center center;
}
.five{
	background: url("../assets/farewell/back.jpg") fixed center center;
}
.six{
	background: url("../assets/farewell/back.jpg") fixed center center;
}
a{
	color: black;
	border-bottom: solid 2px rgba(0,0,0,.3);
	transition: all ease 0.4s;
}
 a:hover{
	border-bottom: solid 2px black;
}
@media screen and (max-width: 900px)
{
	.feature{
		display: none;
	}
	.lander div{
		font-size: 1.3em;
		text-align: left;
	}
	.lander span{
		text-align: left;
	}
	 span.more{
		display: none;
	}
	.dp img{
		display: none;
	}
	.lander div{
		text-align: left;
		font-weight: 400;
	}
	.container{
		width: 80%;
	}
	.about{

	}
	.baseimg{
		font-size: 1em;
		padding-top: 30%;
	}
}
.one{

}

.cards:hover > .one{
	background: url("../assets/yearbook/yb1.jpg")  70% 50%;

}
@keyframes move{
	0%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(10px);
	}
	100%{
		transform: translateX(0px);
	}
} 
.btn:hover > .go{
	animation: move 2s infinite;
}
/* Menu */


body
{
  
}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
 
  
  transform-origin: 4px 0px;
  
  transition:background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),opacity 0.55s ease;
}
#menuToggle:hover > span{
	background: black;
}
.sidemenu{
	height: 100vh;
	font-size: 2em;
	text-align: center;
	font-weight: 100;
	position: absolute;;
	background: white;

padding-top: 30%;
	z-index: 1;
	transition: all ease 0.6s;
}
.sidemen{
	position: absolute;
	transform: translateX(50vw);
	height: 100vh;
}
.side{
	transform: translateX(-10000%);
}
.disappear{
	display: none;
}
.line{
	transition: all ease .4s;
}
.blck{
	background: black;
	opacity: .6;
}