body{
	margin: 0;
	padding-top: 10%;
}
.gg{
	border-bottom: solid 2px black;
	padding-bottom: 10%;
}
.rb{
	padding-top: 2%;
	height: 60%;
	width: 60%;
}
small{
	font-family: 'Lato', sans-serif;
}
.fa-behance,.fa-instagram,.fa-facebook,.fa-medium-m{
	transition: all ease 0.4s;
	color: black;
}
.fa-behance:hover{
	color: blue;
}
.fa-instagram:hover{
	color: purple;
}
.fa-facebook:hover{
	color: blue;
}
.fa-medium:hover{
	color: grey;
}
a{
	color: black;
}