        body {
            font-family: 'Average', serif;
        }
        
        .landing {
            padding-top: 15%;
            height: 100vh;
        }
        
        small {
            opacity: 1;
        }
        
        small:nth-of-type(2) {
            font-size: .5em;
        }
        
        small:nth-of-type(3) {
            font-size: .3em;
        }
        
        small a {
            transition: all ease .2s;
            opacity: .5;
        }
        
        small a:hover {
            opacity: 1;
        }
        
        .qoutes {
            height: 100vh;
        }
        
        .qoutes:nth-of-type(1) {
            background: url('../assets/senna.jpg');
            background-position-x: 50%;
            -webkit-background-composite: 50%;
        }