.rb{
	
    position: absolute;
    top: 45%;
    left: 35%;
    font-size: 1.5em;
   border-radius: 2%;
   
    background: white;
    padding: 5% 5% 5% 5%; 
}
.g{
	padding-right: 2%;
	color:black;
	transition: all ease 0.4s;
}
.g:hover{
	color: #1769ff;
}
.fa-behance{
	background-color: blue;
}
.insta{
	transition: all ease 0.4s;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* change this to change the size*/
  
}

.insta:hover{

 }