body{
    font-family: 'Rubik', sans-serif;
    background: black;
    color: white;
}
@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}
.rb-lander{
    font-family: hacked;
    color: white;
    font-size: 20em;
    line-height: .2;
    position: absolute;
    text-align: center;
}
small{
    font-size: .1em;
}