body{
	margin: 0;
}
.land,.two{
word-wrap: break-word;
font-family: 'Lato', sans-serif;	
font-size: 10vh;	
width: 100vw;}
	.land{
	 background: rgba(224,0,212); /* For browsers that do not support gradients */
		padding-top: 20%;
		color: white;
		font-size: 10vh;
    background: -webkit-linear-gradient(left,rgba(224,0,212,1), rgba(118,0,254,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,rgba(224,0,212,1), rgba(118,0,254,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,rgba(224,0,212,1), rgba(118,0,254,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left ,rgba(224,0,212,1), rgba(118,0,254,1)); /* Standard syntax */
}
.rb{
	font-size: 5vh;
	font-weight: 700;
}
.typed_wrap{

	padding-top: 5%;
	font-size: 3vh;
}
.km{
	cursor: pointer;
	opacity: .5;
	transition: all ease 0.5s;
	align-self: baseline;
	font-size: 2vh;
}
.km:hover{
	opacity: 1;
}
.two{
	padding-top: 5%;
	font-size: 3em;
}