body{
	margin: 0;
	background-color: #00D4F9;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: 100;
color: white;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');
b{
	font-weight: 500;
}
small{
	font-size: 0.2em;
}