body{
	margin: 0;
	padding-right: 2%;
	background: #eeeeee;
}
a{
	margin: 1%;
	color: white;
	transition: all ease 0.4s;
	border-bottom: solid 2px rgba(225,225,225,0);
}
.na{

}
a:hover{
	border-bottom: solid 2px rgba(225,225,225,1)
}
.wow{
	text-align: right;
	transform: translateY(-200%);
}
img.ee{
	height: 10%;
	width: 10%;
}

.land{
	height: 100vh;
	width: 100vw;
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,1)), url(../bgf.jpg) fixed 50% 50% no-repeat;
}
@keyframes fade{
	from{opacity: 0;
transform: translateY(10%);
	} 
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
.fade{
	height: 40%;
	width: 40%;
	animation: fade 2s;
}
@keyframes ff{
	from{
		opacity: 0;
		transform: translateY(-20%);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
.ff{
	animation: ff 4s;
	color: white;
}
@keyframes down{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0);
	}
}
.sg{
	background: white;
	padding: 5%;
}
.sgpic{

	border-radius: 50%;
	height: 40%;
	width: 40%;
}
.sgname{
	opacity: 50%;
}
@media only screen and (orientation: landscape) {
   .wow{
   	transform: translateY(-400%);
   }
}
.credit{
	background-color: #37475E;
	min-width: 100vw;
	min-width: 40vh;
	padding-bottom: 10%;
	
	color: white;
}
.dsg{

	margin-top: 10%;
}
.h6{
	padding-top: 10%;
}