body{
	font-family: 'hind madurai';
	margin: 0;
}
.projectimage{
	height: 40vh;
}
.set{
	
	margin-top: 10%;
}
.box{
	border-left: 4px solid #8cc63f;
	padding-left: 1%;
	background: rgba(140,198,63,.1)

}
.contain{
	width: 50%;
}
